:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.test-mode {
  border: 1px solid red; /* For testn*/
}

.test-mode-blue {
  border: 1px solid blue; /* For testn*/
}

.test-mode-green {
  border: 1px solid green; /* For testn*/
}

/** Section: Navbar **/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Smooth transition for hiding/showing */
}

#navbar.hidden {
  transform: translateY(-100%); /* Move Navbar offscreen when hidden */
}

#navbar ul {
  list-style-type: none;
  padding: 0 0;

  li {
    display: inline-block;
  }

  li a {
    font: 1em monospace;
    letter-spacing: 2.5px;
    color: white;
    padding: 0 1em;
    text-decoration: none;
  }

}

/** Section: Home **/
#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
}

#home {
  background-image: url('./assets/header-background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Roboto';
    color: white;
    font-size: 5em;
  }

}

#home-container {
  display: flex;
  justify-content: center;
}


#home-text {

  width: 55%;
  text-align: center;

  article {
    font-family: 'Roboto';
    color: #A8A8A8;
    font-size: 1.5em;
  }

  span {
    font-family: 'Roboto';
    color: white;
  }
}

#social-media-buttons {
  list-style-type: none;
  padding: 0;
}

#social-media-buttons li {
  display: inline-block;
  font-size: 2.5em;
}

.social-media-icon {
  color: white;
  padding: 1em;
}



/** Section: About **/



#about {
  background-color: #2B2B2B;
  padding: 0 20%;

  h2, h3, article, p {
    text-align: left;
  }
}

.container {
  display: flex;
}

#about-column-image {
  margin-right: 3em;
}

#about-column-text {
  margin-left: 3em;
}

.col-4 {
  flex: 4;
  height: 100%;
}

.col-6 {
  flex: 6;
  height: 100%;
}

.col-8 {
  flex: 8;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
  transform: translate(0, 5em);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 15em;
    min-width: 15em;
    max-width: 15em;
    min-height: 15em;
    border-radius: 50%;
    display: block;
  }
}

.button-resume {
  width: 70%;
  margin: 1em 0em;
  padding: 1em;
  background-color: gray;
  transition: background-color 0.5s ease;

  font: 1.2em monospace;
}

.button-resume:hover {
  cursor: pointer;
  background-color: steelblue;
}
