:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-image: url('./assets/tree-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.test-mode {
  border: 1px solid red; /* For testn*/
}

.test-mode-blue {
  border: 1px solid blue; /* For testn*/
}

/** Section: Navbar **/

#navbar ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
  }

  li a {
    font: 1em monospace;
    padding: 0em 1em;
    text-decoration: none;
  }

}






/** Section: Home **/

#home{
  width: 100%;

  h1 {
    font-size: 5em;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p {
    font: 1.1em sans-serif;
    text-align: center;

    padding-top: 0;
    margin-top: 0;
  }

  padding-bottom: 3em;
}

#social-media-buttons {
  list-style-type: none;
  padding: 0;
}

#social-media-buttons li {
  display: inline-block;
  font-size: 2.5em;
}

.social-media-icon {
  color: white;
  padding: 1em;
}
